html{
    font-size: 10px;
    margin: 10px;
    padding: 10px;
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family:'Times New Roman', Times, serif ;
    src: url();
    font-weight: 100;
}

body{
    font-size: 2rem;
    background-image: url(./paysage.jpg);
    background-size:100%;
    color: aliceblue;
}

header h1{
    font-size: 15rem;
    background-color: rgb(240, 7, 7);
    border: 4mm ridge rgb(211 220 50 / 0.6);
    text-align: center;
    margin: 5rem;
}

nav a{
    font-size: 3rem;
    color: aliceblue;
    background-color: rgb(87, 10, 231);
    border: 2mm ridge rgb(211 220 50 / 0.6);
    text-decoration: none;
    margin: 1rem 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2{
    font-size: 5rem;
    color: aliceblue;
    background-color: rgb(87, 10, 231);
    border: 2mm ridge rgb(211 220 50 / 0.6);
    text-decoration: none;
    margin: 5rem; 
    padding:2rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 a{
    font-size: 3rem;
    color: aliceblue;
    background-color: rgb(231, 10, 10);
    border: 2mm ridge rgb(211 220 50 / 0.6);
    text-decoration: none;
    margin: 1rem 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
    width: 600px
}

figure{
    text-align: center; 
}

figcaption{
    margin: 1rem 10rem;
}

ul{
    margin: 1rem 10rem;
}

p{
   margin: 1rem 10rem; 
}

h3{
    font-size: 3rem;
    color: aliceblue;
    background-color: rgb(10, 231, 47);
    border: 2mm ridge rgba(20, 20, 19, 0.6);
    text-decoration: none;
    margin: 1rem 25rem; 
    padding:1rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 p{
    margin: 1rem 10rem;
} 